@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0 px;
	padding: 0 px;
}

header {
	width: 100%;
	max-width: 960px;
	height: 50px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 50px;
}

.invite {
	font-size: 1.5rem;
	font-family: Montserrat;
	font-weight: 600;
}

.main {
	width: 100%;
	/* или другая необходимая ширина */
	display: flex;
	justify-content: center;
	align-items: center;
	/* добавь, если нужно центрирование по вертикали */
}

.NamesAndDate {
	width: 342px;
	height: 587px;
	display: flex;
	align-items: center;
	margin-top: 54px;
	margin-left: auto;
	/* Добавлено для горизонтального центрирования */
	margin-right: auto;
	/* Добавлено для горизонтального центрирования */
}

@media screen and (min-width: 961px) {
	header {
		max-width: 1920px;
		/* Максимальная ширина для десктопной версии */

	}

	.invite {
		font-size: 1.5rem;
	}
}


.object {
	display: flex;
	justify-content: center;
	justify-items: center;

}

.images {
	display: flex;
	justify-content: center;
	justify-items: center;
	float: left;
	margin-right: 0px;
}

.img-wedd {

	margin-top: 40px;
}

.img-wedd2 {
	position: absolute;
	margin-top: 40px;
}

.object-text {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	max-width: 359px;
	text-align: center;
	margin-top: 40px;
}

.img-location {
	margin-top: 100px;
	margin-right: 50px;
	max-height: 500px;
}

.location-text {
	margin-top: -300px;
	height: 150px;
}

.plansvg {
	width: 180px;
	height: 58px;
}

.PlanDate {
	font-size:30px;
	font-weight: 100;
}

.topPlanContainer {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 370px;
	height: 150px;
	margin-top: 50px;
}

.plan {
	max-width: 100%;
	display: flex;
	justify-content: left;
	margin-top: 50px;
	width: 370px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

.planfoto {
	margin-left: 30px;
	display: flex;
	width: 90px;
	height: 600px;
}


.PlanTime {
	font-weight: 100;
	font-size: 18pt;
}

.planTextBlock1 {
	width: 224px;
	height: 136px;
	margin-left: 20px;
	margin-top: 8px;
}

.planTextBlock2 {
	width: 224px;
	height: 136px;
	margin-left: 20px;
	margin-top: 25px;
}

.planTextBlock3 {
	width: 224px;
	height: 136px;
	margin-left: 20px;
	margin-top: 18px;
}

.planTextBlock4 {
	width: 224px;
	height: 136px;
	margin-left: 20px;
	margin-top: 18px;
}

.PlanName {
	margin-top: 4px;
	font-weight: 100;
	font-size: 18pt;
}

.PlanText {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	margin-top: 5px;
}

.planTextContainer {
	width: 224px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	width: 280px;
	height: 52px;
	margin-top: -100px;
	background-color: white;
	gap: 0px;
	border-radius: 42px;
	border: 0.8px 0px 0px 0px;
	opacity: 0px;
	border-color: #717171;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;

	&:hover {
		cursor: pointer;
	}
}

.img-ding {
	margin-top: -90px;
	margin-right: 180px;
}

.gamma {
	margin-top: -300px;
}

.man-gamma {
	margin-top: -160px;
	width: 345px;
	height: 78px;
}

.woman-gamma {
	margin-top: -50px;
	width: 345px;
	height: 78px;
}

.answerqus {
	margin: 0;
	font-size: 20px;
	text-align: center;
	width: 345px;
	font-family: Montserrat;
	font-weight: 400;

}

#fio {
	margin-top: 10px;
	border-radius: 100px;
	width: 100%;
	border: 0.7px solid;
	text-align: left;
	display: inline-block;
}

.fioBox {
	border: none;
	width: 100%;
	height: 40px;
	font-size: 1.3em;
	padding: 20px;
	text-align: left;
	background-color: transparent;
}

.numberBox {
	border: none;
	width: 100%;
	background-color: transparent;
	height: 20px;
	font-size: 1.3em;
	padding: 20px;
	text-align: left;
}

.numberBoxRed {
  border: none;
	border-color: red;
	width: 100%;
	background-color: transparent;
	height: 20px;
	font-size: 1.3em;
	padding: 20px;
	text-align: left;
}

.numberBoxRed::placeholder{
	color: red;
}

.mainword {
	margin-top: 50px;
	font-size: 1.3em;
	text-align: left;
	font-weight: 500;
}

.listpad {
	line-height: 60px;
	font-size: larger;
	text-align: left;
}

.checkBox {
	font-size: 1.3em;
}

#button {
	border-radius: 100px;
	max-width: 100%;
	width: 420px;
	height: 95px;
	text-align: center;
	background-color: rgb(0, 0, 0);
	color: white;
	font-size: 1em;
}

#buttonLocation {
	padding-top: 30px;
	text-align: center;
	max-width: 100%;
}

.radio {
	transform: scale(1.3);
	opacity: 1.1;
	cursor: pointer;
	text-align: left;
}

.radioDisplay {
	transform: scale(1.3);
	opacity: 1.1;
	cursor: pointer;
}

#idForForm {
	max-width: max-content;
	margin-top: 50px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: Montserrat;
	font-weight: 500;
}

#map {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

#FullQuestionnaire{
	display: "";
}

#textBeforeTheQuestionnaire {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}

.ArrowDown {
	margin-top: 10px;
	width: 30px;
	height: 30px;
	justify-content: center;
	display: flex;
}

label {
	font-weight: 400;
}


@media (max-width: 480px) {
	.mainword {
		font-size: 1.2em;
	}

	.fioBox,
	.numberBox {
		padding: 8px;
		font-size: 1em;
	}

	label {
		font-size: 0.9em;
	}
}

@media (max-width: 400px) {
	.mainword {
		font-size: 1.0em;
	}

	.fioBox,
	.numberBox {
		padding: 8px;
		font-size: 0.8em;
	}

	label {
		font-size: 0.75em;
	}
}

.timerValue {
	font-size: 19px;
	display: inline-block;
	margin-right: 11px;
	margin-left: 18px;
	margin-top: 60px;
}

.timerNumber{
	margin-top: -50px;
	font-size: 20px;
}

#dayNumber{
	margin-left: 0px;
}

#hourNumber{
	margin-left: -10px;
}

#minNumber{
	margin-left: -8px;
}

#secNumber{
	margin-right: 6px;
}

#contact {
 margin-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
}

#husband {
	padding-top: 30px;
	padding-bottom:15px
}

#coordinator {
	padding-top: 15px;
	padding-bottom: 30px;
}

.images-wait {
	padding-left: 20px;
}

.img-contact{
	padding-left: 0px;
	padding-top: 45px;
}